/* Footer.css */

footer {
    background-color: var(--primary-bg-color);
    color: var(--primary-font-color);
    padding: 20px 0;
    text-align: center;
    box-shadow: var(--box-shadow-color) 0 0px 5px;
}

.footer-links a {
    color: var(--primary-font-color);
    margin-right: 20px;
    text-decoration: none;
}

.footer-links a:hover {
    text-decoration: underline;
}
