/* Header Styling */
.header {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo-title {
    display: flex;
    align-items: center;
}

.header-logo {
    width: 50px;
    height: auto;
    margin-right: 15px;
}

.header h1 {
    font-size: 1.8em;
    color: #a60c31;
    margin: 0;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 20px;
    margin: 0;
}

nav ul li a {
    color: #a60c31;
    text-decoration: none;
    font-size: 1em;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Hamburger menu for mobile */
.hamburger-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger-menu .bar {
    width: 25px;
    height: 3px;
    background-color: var(--primary-font-color);
    margin: 5px 0;
}

@media (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    nav ul {
        display: none;
    }

    nav.active ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: var(--primary-bg-color);
    }

    nav ul li {
        text-align: center;
        padding: 10px 0;
    }
}
