.roster {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.player {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
}

.player-info {
    display: flex;
    align-items: center;
}

.player-info img {
    border-radius: 50%;
    margin-right: 15px;
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.player-details h4 {
    margin: 0;
    font-size: 1.2em;
    color: #000;
}

.bio-link {
    color: #a60c31;
    text-decoration: none;
    font-weight: bold;
}

.bio-link:hover {
    color: #900828;
}

.third-hero {
    background: url('../images/footballteam.webp') no-repeat center center;
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
}
